################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/openvr_camera_sim
/camera_buffer_snooper/x64/Debug
/openvr_c.fdb778e2/x64/Debug
/external/imgui
